<h1>About</h1>
<p>This is a sample application that uses Angular JS and Ruby on Rails.</p>
<h2>Credits for images:</h2>
<span>https://en.wikipedia.org/wiki/Cross_(boxing)</span><br>
<span>http://i.dailymail.co.uk/i/pix/2011/07/01/article-2010374-0CCCE8E400000578-410_634x413.jpg</span><br>
<span>https://perfectdojo.files.wordpress.com/2013/01/hookaz-punch.jpg</span><br>
<span>http://www.buzzle.com/images/exercises/workouts/punching-bag/hook-punch.jpg</span><br>
<span>http://cdn-mf0.heartyhosting.com/sites/mensfitness.com/files/d6/images-mf-209726-14556.jpg</span><br>
<span>https://upload.wikimedia.org/wikipedia/commons/8/89/Muhammad_Ali_NYWTS.jpg</span><br>
<span>https://upload.wikimedia.org/wikipedia/commons/2/20/Mike_Tyson_Portrait_lighting_corrected.jpg</span><br>
<span>https://www.biography.com/.image/c_fill,cs_srgb,dpr_1.0,g_face,h_300,q_80,w_300/MTIwNjA4NjMzODg5Nzg1MzU2/joe-louis-9386989-1-402.jpg</span><br>
<span>https://s-media-cache-ak0.pinimg.com/originals/08/54/2b/08542b98e2598192e809f1c2c90b2b32.jpg</span><br>
<span>https://blogs-images.forbes.com/kurtbadenhausen/files/2015/06/fm-e1433941678273.jpg</span><br>
<span>https://www.biography.com/.image/c_fill,cs_srgb,dpr_1.0,g_face,h_300,q_80,w_300/MTE5NTU2MzE2MzA4OTMyMTA3/rocky-marciano-9398575-2-402.jpg</span>
