<h1>About</h1>
<p>This is a sample application that uses Angular JS and Ruby on Rails.</p>
<h2>Credits for images:</h2>
<span>https://en.wikipedia.org/wiki/Cross_(boxing)</span><br>
<span>http://i.dailymail.co.uk/i/pix/2011/07/01/article-2010374-0CCCE8E400000578-410_634x413.jpg</span><br>
<span>https://perfectdojo.files.wordpress.com/2013/01/hookaz-punch.jpg</span><br>
<span>http://www.buzzle.com/images/exercises/workouts/punching-bag/hook-punch.jpg</span><br>
<span>http://cdn-mf0.heartyhosting.com/sites/mensfitness.com/files/d6/images-mf-209726-14556.jpg</span><br>
